@using VinaCent.Blaze.AppCore.Languages.Dto
@using VinaCent.Blaze.FirebaseCloudMessage.FcmTopics.Dto;
@using VinaCent.Blaze.FirebaseCloudMessage.FcmUserTopics.Dto;
@using VinaCent.Blaze.Web.Areas.AdminCP.Models.Languages
@using VinaCent.Blaze.Web.Models.Common.Modals
@model FcmUserTopicDto
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("UpdateFcmTopic")))
<form role="form" class="form-horizontal">
    <input type="hidden" asp-for="Id" />
    <div class="modal-body">
        <div class="modal-body">
            <div class="required mb-3">
                <label class="form-label" asp-for="FcmTopicId"></label>
                <select class="form-control" asp-for="FcmTopicId" asp-items="@ViewBag.TopicSelectList">
                </select>
                <span asp-validation-for="FcmTopicId" class="invalid-feedback"></span>
            </div>
            <div class="required mb-3">
                <label class="form-label" asp-for="UserId"></label>
                <input type="text" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="invalid-feedback"></span>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>
<script src="~/libs/jquery-validate/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>